.spiderman {
  padding: 1rem 2rem;
  transition: transform .8s ease-in-out;

  &-container:hover & { transform: rotate(180deg); }
  &-container { background-color: #dbbebe; }

  &::before {
    display: block;
    content: url('http://gallery1.anivide.com/_full/80728_1442526786.gif');
  }

  img {
    transition: transform .8s ease-in-out;
    &:hover { transform: rotate(360deg); }
  }

  .description {
    color: darkred;
    text-align: center;
    margin-top: 1rem;

    .header { font-size: 2rem; }
  }

  .description-link {
    text-decoration: none;

    &::after {
      content: url('https://65.media.tumblr.com/avatar_a96a78c3d6ad_128.png');
      display: inline-block;
      vertical-align: middle;
    }
  }
}